.about {
     width: 100%;
     min-width: 900px;
     min-height: 1050px;
     background: white;

     .header-brands {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 75px;
          background: $blueMain;
          margin-bottom: 100px;

          .fab {
               color: $greySoftDark;
               font-size: 2rem;
               margin: 60px;
          }
     }

     .col {
          width: 1000px;
          display: block;
          margin: 0 auto;

          .row {
               height: 270px;
               margin: 60px 0;
               .textbox {
                    display: inline-block;
                    width: 390px;
               }

               &:nth-child(1) {
                    height: 140px;
                    // margin-bottom: 40px;
                    text-align: center;
                    .textbox {
                         margin-left: 40px;
                    }
                    p {
                         padding: 0 120px;
                    }
               }

               &:nth-child(2),
               &:nth-child(3),
               &:nth-child(4)
                {
                     display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: left;
                    // padding: 0 40px;

                    .side-img {
                         display: inline-block;
                         width: 440px;
                         margin-top: -90px;
                    }
               }

               &:nth-child(2) {
                    .textbox {
                         // margin-right: -30px;
                    }
                    .side-img {
                         // margin-right: 30px;
                         float: left;
                         margin-top: 28px;
                    }
               }
               &:nth-child(3) {
                    padding-top: 20px;
                    .textbox {
                         margin: 0 30px;
                    }
                    .side-img {
                         margin: 0 30px;
                         margin-top: -25px;
                    }
               }
               &:nth-child(4) {
                    height: 260px;
                    padding-top: 20px;
                    padding-bottom: 0;
                    .textbox {
                         // margin-right: -40px;
                    }
                    .side-img {
                         // margin-right: 40px;
                         // float: left;
                         margin-top: -30px;
                    }
               }
          }
     }
}
