@import "variables";

.header {
  display: flex;
  width: 100%;
  // min-width: 700px;
  position: absolute;
  top: 0;
  z-index: 600;

  #menu-btn{
    .fas.fa-bars{
      font-size: 30px;
      color: white;
    }
  }

  .showMenu{
    transition: transform .4s ease-in-out;
    transform: translateX(0%) !important;
  }

  .hideMenu{
    transition: transform .4s ease-in-out;
    transform: translateX(-100%);
  }

  .brand-logo {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 20px;

    .fab.fa-accusoft {
      color: $orangeMain;
      font-size: 3rem;
    }

    span {
      position: absolute;
      top: 50%;
      z-index: 400;
      margin-left: 10px;
      font-family: $robotoReg;
      text-transform: lowercase;
      font-weight: 400;
      color: white;
    }
  }

  #menu-list-wrap{
    ul {
      position: absolute;
      z-index: 400;

      li {
        a {
          position: relative;
          font-family: $robotoReg;
          font-weight: 100;
          color: white;
          font-size: .7rem;
          text-transform: capitalize;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px){
  #menu-btn{
    display: none;
  }

  #menu-list-wrap{

    .fas.fa-times{
      display: none;
    }
    ul{
      right: 10%;
      top: 64%;
      transform: translateY(-50%);
      align-self: flex-end;

      li {
        display: inline-block;
        padding: 0 20px;

        .fas {
          display: none;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          a {
            padding-bottom: 8px;

            &:before,
            &:after {
              content: '';
              position: absolute;
              bottom: 2px;
              left: 0; right: 0;
              height: 2px;
              background-color: $orangeMain;
            }
            &:before {
              opacity: 0;
              transform: translateY(- $distance);
              transition: transform 0s $easeOutBack, opacity 0s;
            }
            &:after {
              opacity: 0;
              transform: translateY($distance/2);
              transition: transform $duration $easeOutBack, opacity $duration;
            }
            &:hover,
            &:focus {
              &:before,
              &:after {
                opacity: 1;
                transform: translateY(0);
              }

              &:before {
                transition: transform $duration $easeOutBack, opacity $duration;
              }
              &:after {
                transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
              }
            }
          }
        }

        &:nth-last-child(2) {
          padding-right: 2.5px;

          .menu-link {
            text-align: center;
            height: 30px;
            background: rgba(0,0,0,.37);
            width: 30px;
            border-radius: 3px;
            transition: all .2s ease-in-out;

            &:hover {
              cursor: pointer;
              background: rgba(0,0,0,.7);
            }

            a {
              position: static;
              line-height: 30px;
            }
          }
        }

        &:nth-last-child(1) {
          padding-left: 2.5px;
          .menu-link {
            text-align: center;
            height: 30px;
            background: $orangeMain;
            width: 100px;
            border-radius: 3px;
            transition: all .2s ease-in-out;

            &:hover {
              cursor: pointer;
              background: $orangeMainDark;
            }

            a {
              position: static;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}

/* Tablets */
@media only screen and (max-width: 1024px){

  #main-wrap{
    position: static;
    z-index: 300;
  }

  #menu-btn{
    z-index: 1000;
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  #menu-list-wrap{
    transform: translateX(-100%);
    z-index: 900;
    position: fixed;
    width: 300px;
    min-height: 700px;
    height: 100vh;
    background-color: #1F2229;

    .fas.fa-times{
      display: block;
      position: absolute;
      right: 25px;
      font-size: 20px;
      color: white;
      top: 20px;
      cursor: pointer;
      z-index: 500;

      &:hover{
        color: $orangeMain;
      }
    }

    #menu-list{
      width: 100%;
      padding-top: 50px;

      li{
        display: flex;
        justify-content: flex-start;
        padding: 30px 50px;
        text-align: left;

        .fas {
          font-size: 22px;
          color: $orangeMain;
          display: block;
          padding-right: 25px;

          &.fa-clipboard-list{
            margin-left: -1px;
            padding-right: 29px;
          }

          &.fa-users{
            margin-left: -5px;
          }

          &.fa-question-circle{
            margin-left: -3px;
            padding-right: 26px;
          }
        }

        &:nth-child(3){
          padding-bottom: 30px;
        }

        &:hover{
          background: rgba(0,0,0,.25);
          cursor: pointer;
        }

        a{
          font-size: .9rem;
        }
      }
      #en-btn{
        border-top: 2px solid rgba(0,0,0,.37);
        padding-top: 30px;
      }

      #request-invite-btn{
        a{
          color: $orangeMain;
        }
      }
    }
  }
}
