$orangeGlow: #743939;
$orangeMain: #F95146;
$orangeDarkSheild: #E9473C;
$orangeMainDark: #b73d38;
$blueMain: #1F2229;
$blueH1: #374655;
$blueSoftHeader: #484B53;
$blueSoftBG: #F6FAFD;
$blueSoftBorder: #E0E6EC;
$greySoft: #626671;
$greycircle: #E5E5E8;
$greySoftDark: #494C55;
$white: #fff;

$robotoSlab: 'Roboto Slab', serif;
$robotoReg: 'Roboto', sans-serif;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
