@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "Header";
@import "TopImg";
@import "About";
@import "Utilities";
@import "Services";
@import "Features";
@import "Team";
@import "Footer";

_:-moz-tree-row(hover), html {
  scroll-behavior: smooth;/*for firefox*/
}
*, html {
  font-family: $robotoReg;
  box-sizing: border-box;
}
#top {
  z-index: 9999;
  padding: 26px 8px 5px;
  width: 50px;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  bottom:2px;
  right: 2px;
  text-decoration: none;
  color: white;
  background: rgba(0,0,0,.4);
  -webkit-animation: scaledown .3s ease;
  animation: scaledown .3s linear;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
  transition: all .3s ease-in-out;


  &:hover {
    background: rgba(0,0,0,.7);
    -webkit-animation: scale .3s ease;
    animation: scale .3s linear;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,.1);
    cursor: pointer;
  }

  .fas{
    line-height: 0px;
    font-size: 30px;
  }
}
@keyframes scaledown {
 0%{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
 }
 100%{
   -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
 100%{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.qoutes {
  font-size: .9rem;
  color: $orangeMain;
}

.arrow {
  width: 13px;
}

.author {
  color: $blueMain;
  font-weight: 500;
  text-transform: capitalize;
  font-style: normal;
  font-size: .7rem;

  .social-acct {
    text-transform: lowercase;
    font-weight: 500;
    color: $orangeMain;
  }
}


.teamrow {
  text-align: center;
  width: 400px;
}
.sidecol {
  padding: 5px 0;
  text-align: right;
  margin: 0 0 20px;

  .textbox {
    display: inline-block;
  }
  .icon {
    position: relative;
    position: relative;
    background: white;
    height: 51px;
    width: 51px;
    border: 1px solid $greycircle;
    border-radius: 50%;
  }

  .fas, .far {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    color: $orangeMain;
    font-size: 1.5rem;
  }
  h4 {
    margin-bottom: 10px;
  }
}
.headers {
  color: $blueH1;
  font-weight: 300;
  font-size: 2.4rem;
}

.smallHeaders {
  margin-bottom: 0;
  color: $blueSoftHeader;
  font-weight: 300;
  font-size: 1.2rem;
}


.border {
  height: 2px;
  width: 55px;

  &.a {
    margin: 30px auto;
    float: left;
    clear: both;
    background: $blueMain;

    &.first {
      float: none;
    }
  }
  &.b {
    margin: 30px 0;
    background: $orangeMain;
  }
}

.paragraphText {
  line-height: 26px;
  font-size: 13px;
  font-weight: 100;
  color: $blueH1;
  color: #8F939B;
  // float: left;
  font-weight: 300;

  &.first {
    text-align: center;
    font-size: 15px;
  }
}
#pageWrapper {
  height: 100%;
}
.wide-img {
  width: 100%;
  min-height: 350px;
  img {
    height: 100%;
    width: 100%;
  }
}

.m-extra {
  margin: 0 20px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.link {
  height: 50px;
  width: 200px;
  border-radius: 3px;
  text-align: center;
  transition: background .2s ease-in-out;

  &:hover {
    cursor: pointer;
    &.a{
      background: rgba(0,0,0,.6);
    }
    &.b{
      background: $orangeMainDark;
    }
  }

  &.a{
    border: 1px solid white;
    background: rgba(0,0,0,.3);
  }
    &.b{
      background: $orangeMain;

    &.close {
      margin: 70px auto;
      a {
        font-weight: 300;
      }
    }
  }
  a {
    font-size: .8rem;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
}

#team-img{
  background-image: url("/img/widescreen3.png");
  background-repeat: no-repeat;
  background-position: 73% center;
  background-size: cover;
  min-height: 500px;
  width: 100%;
}

#features-img{
  background-image: url("/img/widescreen2.png");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: cover;
  min-height: 500px;
  width: 100%;
}
#utilities-img{
  background-image: url("/img/widescreen1.png");
  background-repeat: no-repeat;
  background-position: 73% center;
  background-size: cover;
  min-height: 500px;
  width: 100%;
}

@media only screen and (max-width: 767px){
  .wide-img{
    height: 340px;
  }
}

@media only screen and (max-width: 767px){
  .wide-img{
    background: teal;
    // height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img{
      margin: 0 auto;
      object-fit: fill;
      height: 100%;
      transform: translateX(-10%);
      width: auto;
    }
  }
}

@media only screen and (max-width: 600px){
  .wide-img{
    background: green;
    height: 300px;
    overflow: hidden;
    img{
      object-fit: fill;
      height: 100%;
      transform: translateX(-10%);
      width: auto;
    }
  }
}

@media only screen and (max-width: 500px){

  #team-img,
  #features-img,
  #utilities-img{
    height: 400px !important;
  }

  #second-wide-img{
    img{
      transform: translateX(-8%);
    }
  }
}
